/*
  Copyright 2022 Lincoln Williams
  Free software under the AGPLv3 license
*/

@font-face {
    font-family: "Sunflower Highway";
    src: url("Sunflower-Highway.woff2"); }

* {
  display: flexbox;
  font-family: "Sunflower Highway"; }

body {
  background-color: whitesmoke; }

img {
  max-width: 70%; }

.block {
  display: block; 
  padding-bottom: 0.5px;
  width: 100%; }

.flex {
  display: flex; 
  flex-wrap: wrap; }

.flex > div {
  max-width: 30%; }

.content {
  width: 80%;
  min-height: 10rem;
  margin-top: 40px;
  margin-bottom: 5rem;
  text-align: left; }

th, td {
  display: table-cell !important;
  text-align: left !important;
  padding: 20px;
  vertical-align: middle !important; }

.navbar {
  padding: 10px 20px;
  font-size: 30px; }

.footer {
  margin: 0px 15px; }

input, select, textarea, .btn, option {
  width: 70%;
  padding: 12px;
  margin: 10px;
  font-size: 18px;
  border: 0px;
  border-radius: 10px;
  resize: vertical;
  text-decoration: none; }

option[disabled] {
  text-decoration: underline; }

input[type=submit]:hover, .btn:hover {
  background-color: #3b3a3a;
  cursor: pointer;
  text-decoration: none;
  color: #add8e6 !important; }

.box {
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px; }

.box-red {
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
  background-color: #ff0000; }

.box-blue {
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
  background-color: #0000ff; }

.box-green {
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
  background-color: lightgreen; }

a {
  color: green;
  text-decoration: none; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.half {
  width: 50%; }

.third {
  width: 33.333%; }

.fourth {
  width: 25%; }

.fifth {
  width: 20%; }

nav {
  font-size: 30px;
  margin-top: 20px; }

  nav a {
    margin-right: 5px; }

  nav span {
    margin-right: 7px; }

dd {
  margin-bottom: 10px; }

dt {
  font-size: 18px; }

li {
  font-size: 18px; }
  
/*
     FILE ARCHIVED ON 17:35:12 Nov 12, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:38:29 Mar 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 131.0
  exclusion.robots: 0.118
  exclusion.robots.policy: 0.105
  RedisCDXSource: 5.96
  esindex: 0.007
  LoadShardBlock: 109.478 (3)
  PetaboxLoader3.datanode: 185.844 (4)
  load_resource: 155.228
  PetaboxLoader3.resolve: 55.499
*/